*
!*/

!.github/**/*.yml
!.gitignore
!.dockerignore
!README.md
!LICENSE

!go.mod
!go.sum
!*.go

!Containerfile
!docker-compose.yml

!packaging/**/*.spec
!packaging/**/*.service
!packaging/helm/**/*.tpl
!packaging/helm/**/*.yaml
!packaging/helm/**/.helmignore
